{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}

<div class="clearfix post panel panel-default">

    <div class="panel-heading">
        <div class="tx-typo3forum-topic-show-post-menu">
            <f:render partial="Post/Menu" arguments="{post: post}"/>
        </div>
        <f:if condition="{post.author.anonymous}">
            <f:then>
                <f:render partial="User/AnonymousInformationRow" arguments="{user: post.author}"/>
            </f:then>
            <f:else>
                <f:render partial="User/InformationRow" arguments="{user: post.author}"/>
            </f:else>
        </f:if>
    </div>
    <div class="panel-body">
        <div class="tx-typo3forum-topic-show-post-text">
            <mmf:format.textParser post="{post}"/>

            <f:if condition="{post.attachments}">
                <div class="tx-typo3forum-topic-show-post-attachments">
                    <div class="tx-typo3forum-topic-show-post-attachments-header">
                        <f:translate key="Post_Show_Attachments"/>
                        (
                        <f:count subject="{post.attachments}"/>
                        )
                    </div>

                    <div class="images">

                        <f:for each="{post.attachments}" as="attachment">

                            <mmf:general.stringContains needle="{attachment.mimeType}" haystack="{settings.attachment.allowedImageTypes}">
                                <f:image src="/uploads/tx_typo3forum/attachments/{attachment.realFilename}" alt="alt text" class="img-responsive" />
                            </mmf:general.stringContains>

                        </f:for>

                    </div>

                </div>
            </f:if>

        </div>
        <f:if condition="{post.author.signature}">
            <div class="tx-typo3forum-topic-show-post-signature">
                <mmf:format.textParser content="{post.author.signature}"/>
            </div>
        </f:if>
        <div class="tx-typo3forum-topic-show-post-date">
            <f:format.date format="{settings.format.dateTimeFormat}">{post.timestamp}</f:format.date>
        </div>
    </div>

</div>
